{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}
{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>
            {{  form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first,{'label' : 'Password'}) }}
                {{ form_row(form.password.second,{'label' : 'Repeat Password'}) }}
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-md btn-primary col-md-3 pull-right" value="Submit">
            {{ form_end(form) }}
        </article>
    </section>
{% endblock %}